.foods img{
  width: 280px;
  border-radius: 15px;
  margin-top: 20px;
}
.foods{
    background-color: rgb(237, 228, 215);
    text-align: center;
    width: 320px;
    margin: 10px;
    border-radius: 15px;
    /* height: 600px; */
}
.foods button{
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  /* position: relative; */
    
}
.foods button:hover {
    background-color: black;
    color: white;
}
.foodDesign{
  margin: 10px;
  height: 296px;
}